/**
 * One Shoe theme for reveal.js.
 *
 * This contains references to a proprietary stylesheet supporting One Shoe
 * branding.
 *
 * By Eelke Blok, https://oneshoe.com
 */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #b4d9c5;

$mainColor: #000;
$headingColor: #000;

$mainFontSize: 38px;
$mainFont: 'Times New Roman', serif;
$headingFont: "TT Norms", sans-serif;
$headingFontWeight: 900;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$linkColor: rgb(47, 67, 119);
$linkColorHover: darken( $linkColor, 15% );
$selectionBackgroundColor: darken( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #222;
  }
}

@mixin bodyBackground() {
  background: $backgroundColor;
  border-color: #fff;
  border-width: 1em;
  border-style: solid;
  height: 100%;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
